In [1]:
#Slicing of lists

myemp = ['sana','sri','aditya','ali','madhu']

print(myemp)

['sana', 'sri', 'aditya', 'ali', 'madhu']

In [2]:
#Considering a group of students from the given list 

#display only first 3 students 

#It will always exclude the last value

print(myemp[0:3])

['sana', 'sri', 'aditya']

In [3]:
#Print from Aditya to madhu

print(myemp[2:5])

['aditya', 'ali', 'madhu']

In [4]:
#print by using only end position 

print(myemp[:3])

['sana', 'sri', 'aditya']

In [5]:
#print by using only starting position 
print(myemp[2:])

['aditya', 'ali', 'madhu']

In [6]:
#print number from 1 to 100 

for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
#print in the numbers from list 

numbers = list(range(1,50))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [15]:
#print only odd numbers
#range (start,end,step)

odd_num = list(range(1,100,2))

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [16]:
#Print alternate students

myemp = ['sana','sri','aditya','ali','madhu','sharvani','Tulasi']

alt_emp = myemp[0:10:2]

print(alt_emp)

['sana', 'aditya', 'madhu', 'Tulasi']

In [18]:
myemp = ['sana','sri','aditya','ali','madhu','sharvani','Tulasi']

#create duplicate copy of the list 

dup_myemp = myemp[:]

print(dup_myemp)

['sana', 'sri', 'aditya', 'ali', 'madhu', 'sharvani', 'Tulasi']

In [19]:
#Tuple - Immutable list 

dimensions = (200,50) 

print(dimensions)

(200, 50)

In [20]:
type(dimensions)

tuple

In [21]:
#accessing elements in tuple

print(dimensions[0])

200

In [23]:
#Dictionary 
#Dict in python is a collection of key-value pairs. Each key is connected to value 

Alien_0 = {'Color':'green','points':5}

#key - color
#value - green 

print(Alien_0)

{'Color': 'green', 'points': 5}

In [24]:
type(Alien_0)

dict